In [5]:
import pandas as pd

df = pd.DataFrame( {'a':[10,20,30], 'b':[2, 4, 6]})

In [8]:
# 1. 함수 정의
def my_fun1(x):
    return x**2

def my_fun2(x, n):
    return x**n

print(my_fun1(df))
print(my_fun2(df,3))

print('='*100)
# 해당하는 요소만 정해서 하나씩 추출
print(my_fun1(df['a']))
print(my_fun2(df['b'],3))

     a   b
0  100   4
1  400  16
2  900  36
       a    b
0   1000    8
1   8000   64
2  27000  216
====================================================================================================
0    100
1    400
2    900
Name: a, dtype: int64
0      8
1     64
2    216
Name: b, dtype: int64

In [10]:
# 2. apply 함수를 이용하여 모든 데이타에 각각 함수 적용하기
# apply = dataframe 내의 요소를 하나하나 불러서 구동해준다.
temp1 = df.apply(my_fun1)
temp1

temp2 = df['a'].apply(my_fun2, n=4) # apply 함수를 쓰면서 처리

0     10000
1    160000
2    810000
Name: a, dtype: int64

In [13]:
# [연습] 데이타 프레임의 각 열 단위로 데이타의 합을 출력
def my_fun3(col):
    sum=0
    for i in col:
        sum += i
    return sum

temp3 = df.apply(my_fun3)
print(temp3) # a, b 요소 별 sum() 
print('='*100)

# 행 방향으로 하고싶다면! (shift + tab 눌러봐) axis 사용, python 하면서 축(행)에 대한 단어를 알아두자.
temp4 = df.apply(my_fun3, axis=1)
print(temp4)

a    60
b    12
dtype: int64
====================================================================================================
0    12
1    24
2    36
dtype: int64

In [18]:
# 'a' 컬럼의 값이 10 이하는 'C', 20 이하는  'B', 30 이하는 'A'를 지정하고자 할 때
def func(score):
    grade = ''
    if( score <= 10) : grade='C'
    elif(score <= 20) : grade='B'
    elif(score <= 30) : grade='A'
    return grade

# apply로 부르기
print(df['a'])
print('-'*50)

#df['a'].apply(func)

df['result'] = df['a'].apply(func) #data에 존재하지않는 result라는 새로운 column을 추가
df

0    10
1    20
2    30
Name: a, dtype: int64
--------------------------------------------------

    a  b result
0  10  2      C
1  20  4      B
2  30  6      A

## [연습]  고객의 결제정보에서 vip 선별

결재가 confirmed 된 상태이고 금액이 500원이상 구매한 고객들을 vip로 선별하고 그 외 고객들은 non-vip로 지정하여 grade 컬럼에 추가 저장한다.

In [80]:
import pandas as pd

# index_col : 지정한 컬럼을 Row Index로 사용한다.
customer = pd.read_csv('./data/customer.csv', index_col = "Name")
customer

customer['grade'] = (customer['price'] >= 500) & (customer['state'] == 'confirmed')
if customer['grade'](True):
    customer['grade'] == 'Vip'
else:
    customer['grade'] == 'non-Vip'

TypeError: IndexOpsMixin.item() takes 1 positional argument but 2 were given

#