## 결측치 데이타 처리

- 결측치는 데이터 분석 결과에 엄청난 영향을 미치기에 존재여부 확인부터 중요

- None를 포함하며, 결측값은 ‘NaN’로 표시


- 결측값 확인 메소드 
    * isnull() : ~이 맞니?
    * notnull(): ~이 아니니?
    
    
- 결측값 처리 	
    (1) 제거 : dropna()      	
    (2) 대치 : fillna()

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.ones((4,4)),index=['A','B','C','D'])
df

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  1.0  1.0  1.0
C  1.0  1.0  1.0  1.0
D  1.0  1.0  1.0  1.0

In [8]:
# 강제로 결측치 만들기 ( NaN, nan)

# 방법 1
df.iloc[1][1] = np.NaN

# 방법 2
df.loc['B'][2] = np.nan

df.iloc[1:,2] = np.NaN # 1번부터 끝까지, 2번 행을 NaN으로

df

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  NaN  NaN  1.0
C  1.0  1.0  NaN  1.0
D  1.0  1.0  NaN  1.0

In [17]:
# 누적합을 구할 때
df.sum()

0    4
1    3
2    1
3    4
dtype: int64

In [22]:
print(df.isnull()) # 결측치가 있다면 true 출력.
print('-'*100)

print(df.isnull().count()) # sum 과 count의 차이를 잘 알아두도록 하자
print(df.isnull().sum())   # python 에서 열단위로 booleon이 0, 1 값이 므로 이에 해당하는 true false값을 더한다.

       0      1      2      3
A  False  False  False  False
B  False   True   True  False
C  False  False   True  False
D  False  False   True  False
----------------------------------------------------------------------------------------------------
0    4
1    4
2    4
3    4
dtype: int64
0    0
1    1
2    3
3    0
dtype: int64

In [20]:
df.dropna()

     0    1    2    3
A  1.0  1.0  1.0  1.0

In [ ]:
df.fillna(0) # 결측치에 0을 너흔다.

In [ ]:
df.fillna('Unknown') # 결측치에 숫자가 아닌 문자도 넣을 수있다.

In [18]:
df.fillna({1:'Unknown',2:-100})
# 결과에 영향을 덜 주는 값을 넣어서 결측치를 해결 - 주로 평균값을 넣어서 해결한다.

     0        1      2    3
A  1.0      1.0    1.0  1.0
B  1.0  Unknown -100.0  1.0
C  1.0      1.0 -100.0  1.0
D  1.0      1.0 -100.0  1.0